.content {
    width: 80vw;
    min-height: 80vh;
    margin: auto;
    border: ridge;
    padding: 0 2rem;
    height: fit-content;
    padding-bottom: 2rem;
}

/* Define styles for the table */
table {
    width: 100%;
    /* border-collapse: collapse; */
}

/* Define styles for table headers */
th {
    background-color: #2ecbe7;
    font-weight: bold;
    text-align: center;
}


/* Define styles for table cells */
td,
th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Define alternate row background color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Define hover effect for rows */
tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Define styles for the S.No column */
td:first-child {
    text-align: center;
}

/* Define styles for the table container */
.enquiryList {
    margin-top: 20px;
}

/* Define styles for the entire table */
table {
    border: 1px solid #ddd;
    border-radius: 5px;
}
