.main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0.3em 4rem;
  position: sticky;
  top: 0;
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  height: 3rem;
  cursor: pointer;
}

.right {
  display: flex;
  gap: 2rem;
}

.link:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.1em;
}

.inactive {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.active {
  font-weight: 600;
  color: rgb(85, 243, 45);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 0.1em;
}