.main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0.3em 4rem;
  position: sticky;
  top: 0;
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  height: 3rem;
  cursor: pointer;
}

.right {
  display: flex;
  gap: 2rem;
}

.link:hover {
  color: rgb(118, 118, 250);
  text-decoration: underline;
  text-underline-offset: 10px;
  /* adjust thickness as needed */
  text-decoration-thickness: 0.1em;
}