.main {
}

legend h3 {
  color: gray;
}
select {
  margin: 0 2rem;
  padding: 0.2em;
  border-radius: 3px;
}

.fieldSet {
  height: 80vh;
  width: 90vw;
  margin: auto;
  border-radius: 1em;
  border: solid 1px gray;
  text-align: center;
}

.dateNo {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-bottom: 2rem;
  align-items: center;
  /* border: solid rgb(218, 29, 29) 1px; */
}

.dateNo b {
  margin: 0 0.5em;
}

.textFields {
  /* border: solid black 1px; */
  display: flex;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 50%;
  padding-left: 2em;
  gap: 1.5em;
}

.field {
  width: 80%;
  text-align: left;
  padding-left: 1em;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1rem 6rem 0 25rem;
}

.verifySection {
  display: flex;
  align-items:center;
}

.verifyButtonContainer {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  /* justify-content:flex-start; */
  margin: 1em;
  gap: 0.2em;
}
